* {
    margin: 0;
    padding: 0;
}
/* ------------- coisa do memoria1*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    text-align: center;
	align-content: center;

}

.memo-top {
	margin: 10% auto;
}

.memo-pic {
	width: 400px;
	height: 400px;
	margin-left: 4%;

}

.memo-text {
	width: 40%;
	margin: 3.5% 10% auto 0;
	float: right;
	text-align: left;
	margin-bottom: 100px;
	
}
/*--------------------------------*/